<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- ログストレージパス -->
	<property name="log.path" value="/home/ruoyi/logs" />
    <!-- ログ出力形式 -->
	<property name="log.pattern" value="%d{HH:mm:ss.SSS} [%thread] %-5level %logger{20} - [%method,%line] - %msg%n" />

	<!-- コンソール出力 -->
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${log.pattern}</pattern>
		</encoder>
	</appender>
	
	<!-- システムログ出力 -->
	<appender name="file_info" class="ch.qos.logback.core.rolling.RollingFileAppender">
	    <file>${log.path}/sys-info.log</file>
        <!-- 循環ポリシー：時間に基づいてログファイルを作成します -->
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- ログファイル名形式 -->
			<fileNamePattern>${log.path}/sys-info.%d{yyyy-MM-dd}.log</fileNamePattern>
			<!-- ログの最大の歴史 60空 -->
			<maxHistory>60</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>${log.pattern}</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
            <!-- ろ過のレベル -->
            <level>INFO</level>
            <!-- 一致するときの操作：引き継ぐ（記録） -->
            <onMatch>ACCEPT</onMatch>
            <!-- 不一致するときの操作：拒否する（不記録） -->
            <onMismatch>DENY</onMismatch>
        </filter>
	</appender>
	
	<appender name="file_error" class="ch.qos.logback.core.rolling.RollingFileAppender">
	    <file>${log.path}/sys-error.log</file>
        <!-- 循環ポリシー：時間に基づいてログファイルを作成します -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- ログファイル名形式 -->
            <fileNamePattern>${log.path}/sys-error.%d{yyyy-MM-dd}.log</fileNamePattern>
			<!-- ログの最大の歴史 60空 -->
			<maxHistory>60</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${log.pattern}</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <!-- ろ過のレベル -->
            <level>ERROR</level>
			<!-- 一致するときの操作：引き継ぐ（記録） -->
            <onMatch>ACCEPT</onMatch>
			<!-- 不一致するときの操作：拒否する（不記録） -->
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>
	
	<!-- ユーザーアクセスログ出力  -->
    <appender name="sys-user" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${log.path}/sys-user.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 按空回滚 daily -->
            <fileNamePattern>${log.path}/sys-user.%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- ログの最大の歴史 60空 -->
            <maxHistory>60</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${log.pattern}</pattern>
        </encoder>
    </appender>
	
	<!-- システムモジュールログレベル制御  -->
	<logger name="com.ruoyi" level="info" />
	<!-- Springログレベルコントロール  -->
	<logger name="org.springframework" level="warn" />

	<root level="info">
		<appender-ref ref="console" />
	</root>
	
	<!--システム操作ログ-->
    <root level="info">
        <appender-ref ref="file_info" />
        <appender-ref ref="file_error" />
    </root>
	
	<!--システムユーザー操作ログ-->
    <logger name="sys-user" level="info">
        <appender-ref ref="sys-user"/>
    </logger>
</configuration> 