<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- グローバルパラメーター -->
    <settings>
        <!-- グローバルマッパーでキャッシュを有効または無効にします -->
        <setting name="cacheEnabled"             value="true"   />
        <!-- 許可するJDBC メインキーの自動生成をサポートします -->
        <setting name="useGeneratedKeys"         value="true"   />
        <!-- デフォルトのアクチュエータを構成します.SIMPLE普通のアクチュエータです;REUSEアクチュエーターは、処理前のステートメントを再利用します(prepared statements);BATCHアクチュエーターはステートメントを再利用し、バッチ更新を実行します -->
        <setting name="defaultExecutorType"      value="SIMPLE" />
		<!-- 指定 MyBatis 使用されるログの特定の実装 -->
        <setting name="logImpl"                  value="SLF4J"  />
        <!-- ハンプの命名方法を使用してフィールドを変換します -->
		<!-- <setting name="mapUnderscoreToCamelCase" value="true"/> -->
	</settings>
	
</configuration>
